body {
	margin: 0px;
	padding: 0px;
	background-color: white;
}
.question>div:first-child
{
    padding: 10px 10px !important;
    margin-top: 20px !important;
    width: 90% !important;
}
 .cus_theme_loader_layout svg path,
.cus_theme_loader_layout svg rect{
  fill:white;
}
.cus_theme_loader_layout svg{
	text-align:center;
} 
.hidden
{
	
}
.stop_error
{
position: absolute;
top: 60%;
left: 39%;
color: white;
font-size: 17px;
font-family: muli-bold;
}   
.resume_error
{
position: absolute;
top: 60%;
left:35%;
color: white;
font-size: 17px;
font-family: muli-regular;
}   

.cus_theme_loader_layout{
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	width: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 9999;
}
.cus_theme_loader_div_layout{
width: 80%;
display: block;
max-width: 3%;
margin: 0px auto;
}
.col-md-12
{
    margin-top:10px !important;
    width:90% !important;
    padding: 10px 10px !important;
    font-family: muli-regular !important;
}
.col-md-6
{
    margin:10px !important;
    padding: 10px 10px !important;
    width: 40% !important;
    float: left;
    font-family: muli-regular !important;
}
.question>div>table>tbody>tr>td>p
{
	width:100% !important; 
	font-size: 18px !important;
	font-family: muli-regular !important;
	line-height : 177% !important;
	margin-bottom:10%;
}
.question>div>p,.question>div>span
{
	width:100% !important; 
	font-family: muli-regular !important;
	/*max-height:280px;
	overflow-x: hidden;
    overflow-y: scroll;*/
    margin: 0px;
    line-height: 173%;
    font-size: 18px !important;
}
.question > .js_radio >div>label>span{
	font-family: muli-regular;
	font-size: 15px;
	font-weight:normal;
	line-height:175%;
}
.question > .js_radio >div>label>input{
	-moz-appearance: checkbox;
	-webkit-appearance:checkbox;
	appearance:checkbox;
	
}
.question_number{
	position: relative;
	font-size: 45px;
	font-family:muli-bold;
}
/*.question-div , .js_radio{
	padding-left: 3%;
}*/
.question-div{
	padding-bottom:5%;
	padding-top:2%;
	max-width:95%;
}
.question > .js_radio > div.col-md-12{
	/*padding: 0 !important;*/
}

.header {
	width: 100%;
}

.header>img {
	width: 100%;
	margin: 0px auto;
	display: block;
	/*height:80px;*/
}

.container_page {
	width: 100%;
	max-width: 1400px;
	margin: 0px auto;
	display: inline-block;
}

.sectionA {
	width: 25%;
	float: left;
	border-right: solid 1px #e6e6e6;
	height: 100%;
	position: fixed;
}
.close-nevigation{
	position: absolute;
	top: 2px;
	right: 3px;
	font-size: 16px;
	color: #fff;
	padding: 3px 10px 3px 10px;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 50%;
	box-shadow: 0px 0px 3px 1px #000;
}
.timerdetails{
	padding-top:25%;
	width: 100%;
	display: inline-block;
}
.timerdetails-center{
	text-align: center;
}
.timer_common
{
	display: inline-block;
}
.minutes,.seconds
{
	display: block;
    margin: 0px auto;
	font-size:60px;
	line-height: 118%;
	font-family:muli-bold;
	color: #000;
}
.m_lbl,.s_lbl
{
	display: block;
    margin: 0px auto;
	line-height: 170%;
	float:left;
	color: #8b93a1;
	font-size:13px;
	padding: 0 4px;
	text-transform:capitalize;
}
.colon
{
	font-size:50px;
	font-family:muli-bold;
	color: #000;
	
	margin-left:4px;
	margin-right:4px;
}
.minutes_nevigate,.minute_lbl_nevigate,.seconds_nevigate,.second_lbl_nevigate,.colon-nevigate{
	color:#fff;
}
.ans_label {
	/*display: inline-block;
	width: 90%;
	padding: 10px;
	margin: 0px;
	margin-top: 10%;
	width: 100%;*/
}

.ans_title {
	color: #fff;
	font-family: muli-bold;
	float: left;
	margin: 0px;
	font-size:21px;
	text-align:center;
	text-transform: uppercase;
	padding:0 0 0 5%
}

.ans_count {
	display: inline-block;
	color: #fff;
	margin: 0px;
	text-align: center;
	font-family: muli-bold;
	font-size: 21px;
	border-radius: 100%;
	padding-top: 8px;
}
.copyright {
	padding-top:12%;	
}
.copyright>a>p, .details>p, .profile>p {
	text-align: center;
	color: black;
}
.copyright>a>p{
	font-size:14px;
	color:#000;
	margin:0;
}
.copyright>a:hover{
	text-decoration: none;
}
a {
	text-decoration: none;
}

.details {
	margin-top: 20px;
}

.details>p, .profile>p {
	
	font-family: muli-regular;
}
.student_name{
	padding-top:10%;
	font-size: 20px;
}
.student_enroll{
	font-size: 18px;
}



.logo {
	display: block;
	margin: 0px auto;
	width: 100px;
}

.prologo {
	display: block;
	margin: 0px auto;
	width: 100px;
}

.prologo>img {
	max-width: 110px;
}

.logo>a>img {
	max-width: 110px;
}

@
keyframes abc { 0% {
	transform: translate(0px, 00px);
}

50%
{
transform
:
 
translate
(0px
,
-20
px
);
}
100%
{
transform
:
 
translate
(0px
,
00
px
);
}
}
.desc {
	width: 100%;
	display: inline-block;
	font-family: muli-regular;
	font-size: 16px;
	overflow-y: scroll;
	max-height: 100px;
}

.sectionB {
	width: 70%;
	float: right;
}

.question {
	padding-top: 5%;
	max-height:500px;
	overflow-x:auto;
}

.nav_btn_bar {
	border: 1px;
	display: inline-block;
	width: 68%;
	padding: 0%;
	top: 810;
	position: absolute;
}

.btnprev {
	width: 25%;
	float: left;
	display: block;
}

.btnnext {
	width: 25%;
	float: right;
	display: block;
}

.btnend {
	/*width: 33%;*/
	display: inline-block;
}

.btnend>.button {
	float: right;
	display: block;
	border: solid 1px;
	padding: 5px;
	font-family: muli-regular;
	background-color: #2b2b2b;
	font-size: 20px;
	color: white;
	width: 150px;
}

.btnprev>.button {
	display: block;
	border: solid 1px;
	padding: 5px;
	font-family: muli-regular;
	background-color: #2b2b2b;
	font-size: 20px;
	color: white;
	width: 150px;
}

.btnnext>.button {
	float: right;
	display: block;
	border: solid 1px;
	padding: 5px;
	font-family: muli-regular;
	background-color: #2b2b2b;
	font-size: 20px;
	color: white;
	width: 150px;
}

.msg {
	width: 40%;
	float: left;
}

.nav_btn_bar>.msg>p {
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-family: muli-regular;
	font-size: 40px;
	color: rgb(8, 125, 218);
}

.optionA, .optionB, .optionc, .optionD, .que_block {
	width: 90%;
	display: inline-block;
	cursor: pointer;
}

.ans, .que {
	width: 70%;
	float: left;
	font-family: muli-regular;
	font-size: 20px;
	padding: 10px;
}

.btna, .btnb, .btnc, .btnd {
	border: solid 1px;
	width: 45px;
	height: 35px;
	text-align: center;
	border-radius: 360px;
	float: left;
	font-family: muli-regular;
	font-size: 20px;
	padding-top: 10px;
}

.que {
	font-family: muli-regular;
	margin-top: 25px;
}

.qno {
	display: inline-block;
	border-left: none;
	width: 5%;
	padding: 0%;
	font-family: muli-regular;
	background-color: rgb(8, 125, 218);
	font-size: 30px;
	color: white;
	float: left;
	/*margin-left:-55px;*/
	text-align: center;
	/*transform: rotate(-30deg);*/
	border-radius: 360px;
}

.timerdetails1 {
	text-align: center;
	color: white;
	width: 30%;
	float: right;
	padding-top: 3px;
}
#countdown1
{
	font-family:muli-regular;
	font-size:16px;
	margin: 10px;
}
#countdown1 sub{
	margin:0 2px 0 2px;
}
.copyright-min {
	display: none;
}

/* Navigation */
.navigation-panel {
	width: 100%;
	position: fixed;
	background-color: white;
	height: 100%;
	margin: 0px auto;
	top:0px;
}

.nav_header {
	background-color: #2b2b2b;
	width: 100%;
	display: inline-block;
	padding: 20px;
}
.nav_header_title
 {
	width: 50%;
	float: left;
}
.feedback, .feedback1 {
	position: fixed;
	top: 50%;
}

.nav_row_main {
	width: 100%;
	display:inline-block
}
.nav_row_sub {
	width: 800px;
	border-right: 2px solid;
	margin: 0px auto;
	margin-top:1%;
}

.nav_row {
	width: 80%;
	margin: 0px auto;
	display: block;
}

.nav_row_details {
	width: 100%;
	padding-top: 6%;
}
.nav_row_details > .active_btn{
	text-align:center;
}
.nav_title {
	color: white;
	font-family: muli-regular;
	font-size: 22px;
	text-transform: capitalize;
	padding: 23px 0px 0px 20px;
}

.nav_color_style_act, .nav_color_style_ans, .nav_color_style_nans {
	width: 15px;
	float: left;
	height: 15px;
	border-radius: 100%;
	margin-top: 7px;
	margin-bottom: 0px;
}
.nav_color_style_act 
{
	background-color:#2b2b2b; 
	border: 2px solid #d2c9c9;
}

.nav_color_style_ans {
	background-color: Green;
	border: 2px solid #d2c9c9;
}

.nav_color_style_nans {
	background-color: white;
	border: 2px solid #d2c9c9;
}

.btn_details {
	display: inline-block;
	border: 0px solid white;
	padding: 0 10px 0 7px;
	font-family: muli-regular;
	font-size: 20px;
	text-transform: capitalize;
	margin-top: 0px;
}

.nav_header>p>img {
	max-width: 50px;
}
.endexam
{
	width: 100%;
    display: block;
    margin: 2% auto;
}
.btnend
{
	background-color: #fff !important;
	border: 1px solid #000 !important;
	padding: 8px 25px;
	margin: 0 auto;
   	color: #000 !important;
    cursor: pointer;
    font-family: muli-bold !important;
    font-size:16px;
    border-radius: 0px;
    border:0px;
    transition:0.3s;
    text-transform: uppercase;
    float:left;
    width: 20%;
}

.btnend:hover{
	/*background-color: #fff !important;
	color: #000 !important;*/
}

.btn_detail {
	display: inline-block;
}

.feedback, .feedback1 {
	position: absolute;
	right: 0px;
	position: fixed;
}

.btn_nav {
	font-family: muli-regular;
	font-size: 16px;
	border: 1px solid #d2c9c9;
	border-radius: 2px;
	padding: 5px;
	width: 57px;
	height:48px;
	background-color:white;
	padding-top: 8px;
	cursor: pointer;
}

.btn_nav:hover {
	transition: background-color 0.3s ease-in-out;
	background-color: #2b2b2b;
	transform: scale(0.99);
	color: white;
	border:0px;
}

.active_nav_btn {
	color: white !important;
	background-color: #2b2b2b !important;
}

.ans_nav_btn {
	border: 3px solid #45b743;
    color: black;
    background-color:white
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 30px; /* Location of the box */
	padding-left: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 25%;
}

.modal-content>img {
	position: relative;
}
.close_btn {
	width:100%;
	display:inline-block;
}
.close_btn h1{
	font-size:50px;
	font-family:muli-regular;
	padding-top:20%;
}
.close_btn > button{
	display:none;	
}
.close_btn h1{
	margin:0px auto;
	display:block;
	text-align: center;
}
.modal-content>.close {
	font-family: muli-regular;
	font-size: 20px;
	position: absolute;
	top: 500px;
	left: 1000px;
	color: white;
	border: solid 1px;
	padding: 10px;
	background-color: #2b2b2b;
	opacity: 0.9;
	cursor: pointer;
}

.modal-content>.close:hover {
	border: solid 1px;
}

.exam {
    
    width: 100%;
    display: inline-block;
}
.exam-sub
{
	max-width: 100%;
	width:100%;
	display:block;
	margin:0px auto;
}

pre[class*="language-"]{
	border: none;
	font-size: 17px;
	background: white !important;
	padding: 0 !important;
}
[data-oe-type="html"]:empty{
	background-image:none;
}
.more_data{
	display:none;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  	position: absolute;
  	left: 15px;
	top: auto;
	-moz-appearance: none;
	width: 17px;
	height: 17px;
	opacity: 0.001;
	cursor:pointer;
	z-index: 9999;
}
[type="radio"]:not(:checked) ~ span,
[type="radio"]:checked ~ span {
  	position: relative;
  	padding-left: 2.30em;
  	cursor: pointer;
}

[type="radio"]:not(:checked) ~ span:before,
[type="radio"]:checked ~ span:before {
  	content: '';
  	position: absolute;
  	left: 7px;
  	top: 3px;
  	width: 13px; 
  	height: 13px;
  	border: 1px solid #ccc;
  	background: #fff;
  	border-radius: 1px;
}

[type="radio"]:not(:checked) ~ span:after,
[type="radio"]:checked ~ span:after {
  	content: '✔';
  	position: absolute;
  	top:5px; 
  	left:9px;
  	font-size:11px;
  	line-height: 0.8;
  	color: black;
  	transition: all .2s;
  	
}

[type="radio"]:not(:checked) ~ span:after {
  	opacity: 0;
  	transform: scale(0);
}
[type="radio"]:checked ~ span:after {
  	opacity: 1;
  	transform: scale(1);
}
.more_data{
	position: absolute;
	right: 2%;
	bottom: 16%;
}
.more_data i{
	color:#000;
	font-size:20px;
	cursor:pointer;
}
@keyframes topbottomanimate{
    from {top: 0px;}
    to {top: 8px;}
}
.top-bottom-animate{
 	position: relative;
 	animation: topbottomanimate 1.5s linear 1.5s infinite;
 	/*animation-iteration-count: infinite;
	animation: topbottomanimate 1s;*/
}
