@font-face {
    font-family:muli-regular;
    src: url('../font/Muli/Muli-Regular.ttf');
}
@font-face {
    font-family:muli-bold;
    src: url('../font/Muli/Muli-SemiBold.ttf');
}
body{
	margin:0;
}
.container
{
	width:100%;
	height:100%;
	display:inline-block;
	background-color: 2B2B2B;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.left_body{
	width:50%;
}
.right_body{
	width:50%;
	float:right;
	padding-top:9%;
}

.login-panel{
	width: 25%;
	border-radius:2px;
	background-color: white;
	padding:3%;
	position: absolute;
	left: 7%;
	top: 25%;
}
.title>.caption{
	font-family:muli-regular;
	font-size:22px;
	text-transform: capitalize;
	margin: 0;
}
.title>.caption-details
{
font-family:muli-regular;
font-size:16px;
text-transform: capitalize;
}
.input
{
	width:100%;
}
.input>input
{
	width: 100%;
	padding: 13px;
	border: 1px solid #b4b4b4;
	margin-top:5%;
	font-family:muli-regular;
	font-size:16px;
}
.input>input:focus , .input>select:focus{
	box-shadow: 0px 0px 4px #b6a2a2;
	border-bottom: 1px solid;
}
.input>select{
	width: 100%;
	padding: 10px;
	border: 1px solid #b4b4b4;
	margin-top:5%;
	font-family:muli-regular;
	font-size:16px;
	background:white;
	-webkit-appearance:none;
	-moz-appearance: none;
}
.domain-dropdown::after{
	content:'';
	display:block;
	width:10px;
	background:black;
	height:10px;
}
.domain-dropdown option{
	font-size: 13px;
	font-family: muli-regular;
	padding:5px;
}

.input>.btn{
	background-color:2B2B2B;
	color:white;
	font-family:muli-bold;
	font-size:18px;
	text-transform: uppercase;
	margin-top:5%;
	padding: 13px 12px;
	cursor: pointer;
	border:none;
	letter-spacing: 1px;
}
.input>.btn:hover{
	background-color:black;
	transition:0.5s ease-in;
}
.logo_img_div{
	width:100%;
	display: block;
	margin: 0px auto;
	text-align: center;
}
.img_company_logo{
	width:auto;
	max-width:40%;
}
.website_link_div{
	width: 100%;
	padding-top:5%;
	text-align: center;
}
.website_link_a{
	font-size: 30px;
	font-family: muli-regular;
	color: #959595;
	text-decoration: none;
}
.website_link_a_page{
	font-size: 20px;
	font-family: muli-regular;
	color: #959595;
	text-decoration: none;
}
.website_link_div span:first-child{
	border-right:2px solid #959595;
}
.culture{
	margin-right:5px;
}
.blog{
	margin-left:10px;
}
.fade-in-box{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.error_msg , .error_msg_select{
	display:none;
	font-size: 12px;
	color: red;
	padding-top: 2px;
	font-family: muli-bold;
}
