@font-face {
	font-family: Muli-Light;
	src: url('../font/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
	font-family: Muli-bold;
	src: url('../font/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: Muli;
	src: url('../font/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: Josef;
	src: url('../font/Open_Sans/OpenSans-Regular.ttf');
}

body {
	margin: 0px;
	padding: 0px;
	background-color: white;
}
.question>div:first-child
{
    padding: 10px 10px !important;
    margin-top: 20px !important;
    width: 90% !important;
}
 .cus_theme_loader_layout svg path,
.cus_theme_loader_layout svg rect{
  fill:white;
}
.cus_theme_loader_layout svg{
	text-align:center;
} 
.hidden
{
	
}
.stop_error
{
position: absolute;
top: 60%;
left: 39%;
color: white;
font-size: 17px;
font-family: muli-bold;
}   
.resume_error
{
position: absolute;
top: 60%;
left:35%;
color: white;
font-size: 17px;
font-family: muli;
}   

.cus_theme_loader_layout{
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	width: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 9999;
}
.cus_theme_loader_div_layout{
width: 80%;
display: block;
max-width: 3%;
margin: 0px auto;
}
.col-md-12
{
    margin-top:10px !important;
    width:90% !important;
    padding: 10px 10px !important;
    font-family: muli !important;
}
.col-md-6
{
    margin:10px !important;
    padding: 10px 10px !important;
    width: 40% !important;
    float: left;
    font-family: muli !important;
}
.question>div>table 
{
	width:100% !important; 
	font-size: 20px !important;
	font-family: Muli !important;
	word-spacing: 5px !important;
}
.question>div>p,.question>div>span
{
	width:100% !important; 
	font-family: Muli !important;
	word-spacing: 5px !important;
	max-height:280px;
	overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px;
    line-height: 173%;
    font-size: 17px;
    border-color: #FFF;
}
.header {
	width: 100%;
}

.header>img {
	width: 100%;
	margin: 0px auto;
	display: block;
	/*height:80px;*/
}

.container_page {
	width: 100%;
	max-width: 1400px;
	margin: 0px auto;
	display: inline-block;
}

.sectionA {
	width: 25%;
	float: left;
	border-right: solid 1px;
	height: 100%;
}

.timerdetails>#countdown {
	font-family: Muli-bold;
	font-size: 20px;
	word-spacing: 2px;
	color: #2b2b2b;
	margin: 0px;
	text-align: center;
}

.ans_label {
	border: #2b2b2b solid 1px;
	display: inline-block;
	width: 90%;
	background: #2b2b2b;
	padding: 10px;
	margin: 0px;
	margin-top: 25%;
	width: 93.5%;
}

.ans_title {
	width: 75%;
	background: #2b2b2b;
	color: white;
	font-family: muli;
	padding: 10px;
	float: left;
	margin: 0px;
}

.ans_count {
	display: inline-block;
	background: #000;
	width: 35px;
	height: 35px;
	color: white;
	margin: 0px;
	text-align: center;
	font-family: Muli-bold;
	font-size: 22px;
	padding: 5px;
	border-radius: 100%;
	padding-top: 8px;
}

.copyright>a>p, .details>p, .profile>p {
	text-align: center;
	font-family: Muli;
	color: black;
}

a {
	text-decoration: none;
}

.details {
	margin-top: 20px;
}

.details>p, .profile>p {
	font-size: 20px;
	font-family: Muli;
	word-spacing: 5px;
}

.copyright {
	position: absolute;
	bottom: 0px;
	margin: 0px auto;
	left: 5%;
}

.logo {
	display: block;
	margin: 0px auto;
	width: 100px;
}

.prologo {
	display: block;
	margin: 0px auto;
	width: 100px;
}

.prologo>img {
	max-width: 110px;
}

.logo>a>img {
	max-width: 110px;
}

@
keyframes abc { 0% {
	transform: translate(0px, 00px);
}

50%
{
transform
:
 
translate
(0px
,
-20
px
);
}
100%
{
transform
:
 
translate
(0px
,
00
px
);
}
}
.desc {
	width: 100%;
	display: inline-block;
	font-family: SourceSansPro-Regular;
	font-size: 16px;
	overflow-y: scroll;
	max-height: 100px;
}

.sectionB {
	width: 70%;
	float: right;
}

.question {
	
}

.nav_btn_bar {
	border: 1px;
	display: inline-block;
	width: 68%;
	padding: 0%;
	top: 810;
	position: absolute;
}

.btnprev {
	width: 25%;
	float: left;
	display: block;
}

.btnnext {
	width: 25%;
	float: right;
	display: block;
}

.btnend {
	width: 33%;
	display: inline-block;
}

.btnend>.button {
	float: right;
	display: block;
	border: solid 1px;
	padding: 5px;
	font-family: Dosis-Regular;
	background-color: #2b2b2b;
	font-size: 20px;
	color: white;
	width: 150px;
}

.btnprev>.button {
	display: block;
	border: solid 1px;
	padding: 5px;
	font-family: Dosis-Regular;
	background-color: #2b2b2b;
	font-size: 20px;
	color: white;
	width: 150px;
}

.btnnext>.button {
	float: right;
	display: block;
	border: solid 1px;
	padding: 5px;
	font-family: Dosis-Regular;
	background-color: #2b2b2b;
	font-size: 20px;
	color: white;
	width: 150px;
}

.msg {
	width: 40%;
	float: left;
}

.nav_btn_bar>.msg>p {
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-family: SansPro-Light;
	font-size: 40px;
	color: rgb(8, 125, 218);
}

.optionA, .optionB, .optionc, .optionD, .que_block {
	width: 90%;
	display: inline-block;
	cursor: pointer;
}

.ans, .que {
	width: 70%;
	float: left;
	font-family: SansPro-Light;
	font-size: 20px;
	padding: 10px;
}

.btna, .btnb, .btnc, .btnd {
	border: solid 1px;
	width: 45px;
	height: 35px;
	text-align: center;
	border-radius: 360px;
	float: left;
	font-family: SansPro-Light;
	font-size: 20px;
	padding-top: 10px;
}

.que {
	font-family: SourceSansPro-Semibold;
	margin-top: 25px;
}

.qno {
	display: inline-block;
	border-left: none;
	width: 5%;
	padding: 0%;
	font-family: SourceSansPro-Semibold;
	background-color: rgb(8, 125, 218);
	font-size: 30px;
	color: white;
	float: left;
	/*margin-left:-55px;*/
	text-align: center;
	/*transform: rotate(-30deg);*/
	border-radius: 360px;
}

.timerdetails1 {
	text-align: center;
	color: white;
	width: 50%;
	float: right;
	padding-top: 1%;
}
#countdown1
{
	font-family:Muli-bold;
	font-size:20px;
	margin: 10px;
}
.copyright-min {
	display: none;
}

/* Navigation */
.navigation-panel {
	width: 100%;
	position: fixed;
	background-color: white;
	height: 100%;
	margin: 0px auto;
	top:0px;
}

.nav_header {
	background-color: #2b2b2b;
	width: 100%;
	display: inline-block;
	padding: 1px;
}
.nav_header_title
 {
	width: 50%;
	float: left;
}
.feedback, .feedback1 {
	position: fixed;
	top: 50%;
}

.nav_row_main {
	width: 100%;
	display:inline-block
}
.nav_row_sub {
	width: 800px;
	border-right: 2px solid;
	margin: 0px auto;
	margin-top:1%;
}

.nav_row {
	width: 80%;
	margin: 0px auto;
	display: block;
}

.nav_row_details {
	width: 35%;
	float: right;
	margin-top:1%;
}

.nav_title {
	color: white;
	font-family: Muli;
	font-size: 22px;
	text-transform: capitalize;
	padding-left: 6%;
}

.nav_color_style_act, .nav_color_style_ans, .nav_color_style_nans {
	width: 15px;
	float: left;
	height: 15px;
	border-radius: 100%;
	margin-top: 3px;
	margin-bottom: 0px;
}
.nav_color_style_act 
{
	background-color:#2b2b2b; 
	border: 2px solid #d2c9c9;
}

.nav_color_style_ans {
	background-color: Green;
	border: 2px solid #d2c9c9;
}

.nav_color_style_nans {
	background-color: white;
	border: 2px solid #d2c9c9;
}

.btn_details {
	display: inline-block;
	border: 0px solid white;
	padding-left: 10px;
	font-family: Muli;
	font-size: 16px;
	text-transform: capitalize;
	margin-top: 0px;
}

.nav_header>p>img {
	max-width: 50px;
}
.endexam
{
	width: 100%;
    display: block;
    margin: 2% auto;
}
.btnend
{
	background-color: #087DDA;
    width: 270px;
    padding: 14px;
    display: block;
    margin: 0 auto 35px;
    text-align: center;
    color: #fff!important;
    cursor: pointer;
    font-weight: 700;
    border-radius: 2px;
    border:0px
}
.btn_detail {
	display: inline-block;
}

.feedback, .feedback1 {
	position: absolute;
	right: 0px;
	position: fixed;
}

.btn_nav {
	font-family: Muli;
	font-size: 16px;
	border: 1px solid #d2c9c9;
	border-radius: 2px;
	padding: 5px;
	width: 57px;
	height:48px;
	background-color:white;
	padding-top: 8px;
	cursor: pointer;
}

.btn_nav:hover {
	transition: background-color 0.3s ease-in-out;
	background-color: #2b2b2b;
	transform: scale(0.99);
	color: white;
	border:0px;
}

.active_nav_btn {
	color: white !important;
	background-color: #2b2b2b !important;
}

.ans_nav_btn {
	border: 3px solid #45b743;
    color: black;
    background-color:white
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 30px; /* Location of the box */
	padding-left: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	margin: auto;
	padding: 0px;
	width: 61%;
}

.modal-content>img {
	position: relative;
}

.modal-content>.close {
	font-family: SourceSansPro-Semibold;
	font-size: 20px;
	position: absolute;
	top: 500px;
	left: 1000px;
	color: white;
	border: solid 1px;
	padding: 10px;
	background-color: #2b2b2b;
	opacity: 0.9;
	cursor: pointer;
}

.modal-content>.close:hover {
	border: solid 1px;
}

.exam {
    
    width: 100%;
    display: inline-block;
}
.exam-sub
{
	max-width: 1400px;
	width:90%;
	display:block;
}